.login-body {
    background: #ffffff;
 /*   background: linear-gradient(to right, #0062E6, #33AEFF);*/
  }
  .btn-signup {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  .btn-google-signup {
    color: #696666 !important;
    background-color:white;
  }
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  .btn-google {
    color: #696666 !important;
    background-color:white;
  }

  .about-body::-webkit-scrollbar{
    display: none;
}

.github-link:hover{
  color: #ffffffb2 !important;
}

.footer-link:hover{
  color: #ffffffb2 !important;
}

.about-nav{
  color: white;
}

.navbar-brand{
  font-size: 140%;
  font-weight: 400;
}

.home-body{
  width: 100%;
  height: 100%;
  margin: 0;
}

.home-cont{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

#sidebar{
  width: 20%;
  height: 100%;
  float: left;
  position: sticky;
  top: 10px;
}

.home-main{
  width:50%;
  height: 100%;
}

.middle{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: #ffffff;
  float: left;
  border-color: #ffffff66;
  border: 0.5px;
  border-style: solid;
  border-left: 0;
  border-right: 0;
}

.home-main .middle .avis-create{
  color: #ffffff;
  margin-top: 20px;
  top: 5px;
  position: relative;
  left: 0;
  border-left: 0;
  border-right: 0;
}

.home-main .middle .avis-cards{
  position: relative;
  border: 0.5px;
  border-color: #ffffff66;
  border-style: solid;
  border-left: 0;
  border-right: 0;
}

#hideme{
  display: none;
}

.avis-create #text-area {
  width: 100%;
  resize:none;
  height:100%;
  color: #ffffff;
  border: 0;
  min-height: 80px;
  padding: 5px;
}

.avis-create #text-area::-webkit-scrollbar{
  display: none;
}

.avis-create .btn-avis{
  float: right;
  margin: 15px;
  background-color: #ffffff38;
  color: #ffffff;
}


.avis-card-head #three_dot{
  float: right;
}

.modal-body #avis_edit {
  width: 100%;
  resize:none;
  height:100%;
  color: #ffffff;
  border-color: #ffffff66;
  border-style: solid;
  min-height: 80px;
  padding: 5px;
}

.modal-body #avis_edit::-webkit-scrollbar{
  display: none;
}


#profileCreate .avis-cards{
  color: #ffffff;
  margin-top: 20px;
  top: 5px;
  position: relative;
  left: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}